.lead__subtitle {
    margin: 0;
    padding: 0;
    max-width: 640px;
    align-self: center;
    text-align: center;
    line-height: 36px;
    padding-top: 32px;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .lead__subtitle {
        max-width: 70%;
        padding-top: 16px;
        line-height: 26px;
        font-size: 20px;
    }
}
  
@media screen and (max-width: 475px) {
    .lead__subtitle {
      line-height: 20px;
      font-size: 16px;
    }
}
  
@media screen and (max-width: 320px) {
    .lead__subtitle {
      max-width: 288px;
    }
}